<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:replace="~{page-templates :: bootstrap}">
    <link rel="stylesheet" th:href="@{css/user.css}">
    <title>Title</title>
</head>
<body>
<div th:replace="~{page-templates :: header}"></div>
<main class="w-100 d-flax justify-content-center">
    <p class="w-100 d-flax justify-content-center" th:text="${hello}"></p>
</main>
<div class="w-100 d-flax justify-content-center" th:replace="~{page-templates :: footer}"></div>
</body>
</html>